In [ ]:
## EDA PARA LIMPIEZA DE DATOS

In [78]:
import numpy as np
import pandas as pd
import os
from pathlib import Path
from dateutil.parser import parse

In [33]:
#print(os.getcwd())

d:\ESEIT\BigData2022B\notebooks

In [49]:
root_dir = Path(".").resolve().parent
print("root_dir:", root_dir)

root_dir: D:\ESEIT\BigData2022B

In [52]:
# RUTA PROYECTO
from fileinput import filename

filename="llamadas123_julio_2022.csv"
data_dir = "notebooks"

file_path = os.path.join(root_dir,data_dir,filename)
print(file_path)

D:\ESEIT\BigData2022B\notebooks\llamadas123_julio_2022.csv

In [53]:
data = pd.read_csv(file_path, encoding="latin-1", sep=";")

In [55]:
data.head()
print('forma inicial ',data.shape)

forma inicial  (13055, 11)

In [67]:
data= data.drop_duplicates() #elimina los duplicados
print('forma final ',data.shape)

forma final  (13026, 11)

In [58]:
# esquema de la tabla
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13055 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13055 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13055 non-null  object
 2   CODIGO_LOCALIDAD                   13055 non-null  int64
 3   LOCALIDAD                          13055 non-null  object
 4   EDAD                               13055 non-null  object
 5   UNIDAD                             13047 non-null  object
 6   GENERO                             13055 non-null  object
 7   RED                                13055 non-null  object
 8   TIPO_INCIDENTE                     13055 non-null  object
 9   PRIORIDAD                          13055 non-null  object
 10  RECEPCION                          13055 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.1+ MB

In [60]:
data['UNIDAD'].value_counts(dropna=False) # realiza un conteo de los diferentes valores

A¤os        6794
SIN_DATO    6203
Meses         39
NaN            8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [61]:
data['UNIDAD'].fillna('SIN DATO').value_counts(dropna=False)

A¤os        6794
SIN_DATO    6203
Meses         39
SIN DATO       8
Horas          6
Dias           5
Name: UNIDAD, dtype: int64

In [62]:
#sobrescribir valores nulos por una columna nueva sin nulos
data['UNIDAD'].fillna('SIN DATO').fillna('sin_dato')

0            A¤os
1            A¤os
2            A¤os
3        SIN_DATO
4            A¤os
           ...
13050        A¤os
13051    SIN_DATO
13052        A¤os
13053        A¤os
13054    SIN_DATO
Name: UNIDAD, Length: 13055, dtype: object

In [64]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'

data [col].max()

'2022-08-08 11:23:01'

In [68]:
# busca el valor minimo de la columna
val_min= data[col].min()
data[data[col] == val_min]  # aplica filtro

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
13054,CRU-00312775-22,0000-00-00 00:00:00,9,Fontib¢n,SIN_DATO,SIN_DATO,SIN_DATO,Sur Occidente,Accidente Cerebro Vascular,ALTA,0000-00-00 00:00:00

In [71]:
#formato de fechas datetime
data[col] = pd.to_datetime(data[col], errors='coerce')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13026 entries, 0 to 13054
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13026 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13025 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13026 non-null  int64
 3   LOCALIDAD                          13026 non-null  object
 4   EDAD                               13026 non-null  object
 5   UNIDAD                             13018 non-null  object
 6   GENERO                             13026 non-null  object
 7   RED                                13026 non-null  object
 8   TIPO_INCIDENTE                     13026 non-null  object
 9   PRIORIDAD                          13026 non-null  object
 10  RECEPCION                          13026 non-null  object
dtypes: datetime64[ns](1), int64(1), object(9)
memory usage: 1.2+ MB

In [72]:
data['RECEPCION']

0        2022-07-01 03:40:13
1        2022-07-01 03:38:13
2        2022-07-01 04:08:24
3        0000-00-00 00:00:00
4        2022-07-01 03:25:29
                ...
13050         8/08/2022 6:48
13051    0000-00-00 00:00:00
13052        9/08/2022 13:13
13053    0000-00-00 00:00:00
13054    0000-00-00 00:00:00
Name: RECEPCION, Length: 13026, dtype: object

In [83]:
# funcion que reciba string con fechas y devuelva un valor datetime usando parse
def convertir_formato_fecha(str_fecha):
    val_datetime =parse(str_fecha,dayfirst=True)
    return val_datetime

In [84]:
convertir_formato_fecha(str_fecha=data['RECEPCION'][13052])

TypeError: Parser must be a string or character stream, not Timestamp

In [85]:
for i in range(0,5):
    try:
        val_datetime= convertir_formato_fecha(str_fecha=data['RECEPCION'][i])
    except Exception as e:
        print(i,e)
        continue
    print(val_datetime)

0 Parser must be a string or character stream, not Timestamp
1 Parser must be a string or character stream, not Timestamp
2 Parser must be a string or character stream, not Timestamp
3 Parser must be a string or character stream, not NaTType
4 Parser must be a string or character stream, not Timestamp

In [86]:
parse=(data['RECEPCION'][13052], dayfirst=True)

SyntaxError: invalid syntax (2324789793.py, line 1)

In [75]:
#col2 = 'RECEPCION'
#data[col2] = pd.to_datetime(data[col2], errors='coerce')
#data['RECEPCION']]

pd.to_datetime(data['RECEPCION'],errors='coerce',format='%Y-%m-%d %H:%M%S')

0       2022-07-01 03:40:13
1       2022-07-01 03:38:13
2       2022-07-01 04:08:24
3                       NaT
4       2022-07-01 03:25:29
                ...
13050   2022-08-08 06:48:00
13051                   NaT
13052   2022-09-08 13:13:00
13053                   NaT
13054                   NaT
Name: RECEPCION, Length: 13026, dtype: datetime64[ns]

In [77]:

parse('12-12-2022')

datetime.datetime(2022, 12, 12, 0, 0)

In [95]:
#remplazar sin dato por nulo de tipo numerico
#data['EDAD'].replace({'SIN_DATO : np.nan'}).value_counts(dropna=False)

data['EDAD'].replace({'SIN_DATO : np.nan'})

0              88
1              16
2              52
3        SIN_DATO
4              33
           ...
13050          18
13051    SIN_DATO
13052          11
13053          19
13054    SIN_DATO
Name: EDAD, Length: 13026, dtype: object

In [100]:
# funciones lambda

x='3'
f = lambda x: int(x)**3  # convertir string en entero
f(x)

27

In [102]:
x= 5
f =lambda x: x if pd.isna(x) ==True else int(x)

f(x)

5

In [106]:
#data['EDAD'].apply(f)
data['EDAD'] = data['EDAD'].apply(f)

ValueError: invalid literal for int() with base 10: 'SIN_DATO'

In [107]:
data['LOCALIDAD']

0                      Suba
1                      Suba
2        Rafael Uribe Uribe
3            Ciudad Bol¡var
4                   Usaqun
                ...
13050          Los M rtires
13051          Los M rtires
13052              Engativ
13053              Engativ
13054              Fontib¢n
Name: LOCALIDAD, Length: 13026, dtype: object

In [108]:
data['LOCALIDAD'].value_counts()

Kennedy               1740
Suba                  1323
Engativ               1304
Bosa                  1065
Ciudad Bol¡var        1009
Puente Aranda          742
Fontib¢n               670
Usaqun                667
Rafael Uribe Uribe     601
Usme                   597
San Crist¢bal          595
Chapinero              507
Tunjuelito             391
Barrios Unidos         389
Los M rtires           379
Teusaquillo            361
Santa Fe               356
Antonio Nari¤o         244
La Candelaria           85
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [111]:
# estandarizar texto
word='  Bigdata'
print(word, word.lower(), word.upper())

  Bigdata   bigdata   BIGDATA

In [113]:
# quitar espacios en blaco
word='  Bigdata'
print(word.lower().lstrip())

bigdata