In [1]:
import numpy as np
import pandas as pd
import os
from pathlib import Path
from dateutil.parser import parse
from fileinput import filename

In [2]:
root_dir = Path(".").resolve().parent
print("root_dir:", root_dir)

root_dir: D:\ESEIT\BigData2022B

In [3]:
# RUTA ARCHIVOS
data_dir = "notebooks"
path2 = os.path.join(root_dir,data_dir)
os.listdir(path2)

['0.1.gtovar-eda-inicio-llamadas-123.ipynb',
 'Análisis_de_imágenes.ipynb',
 'BO_HeartData.xlsx',
 'clase_4.ipynb',
 'Codigo_09_1.ipynb',
 'ETL_ejemplo_GTF.ipynb',
 'Limpieza_archivo_GFT.ipynb',
 'llamadas123_abril_2022.csv',
 'llamadas123_agosto_2022.csv',
 'llamadas123_enero_2022.csv',
 'llamadas123_febrero_2022.csv',
 'llamadas123_julio_2019.csv',
 'llamadas123_julio_2022.csv',
 'llamadas123_julio_2022_PRUEBA1.csv',
 'llamadas123_junio_2022.csv',
 'llamadas123_marzo_2022.csv',
 'llamadas123_mayo_2022.csv']

In [4]:
filename="llamadas123_marzo_2022.csv"
file_path = os.path.join(root_dir,data_dir,filename)
print(file_path)

D:\ESEIT\BigData2022B\notebooks\llamadas123_marzo_2022.csv

In [5]:
data = pd.read_csv(file_path, encoding="latin-1", sep=";")
#data

In [6]:
print("estructura inicial ",data.shape)

estructura inicial  (13167, 11)

In [7]:
def tipo_dato(data): 
    #cambiar tipo de dato al campo edad ya que no todos los archivo vienen en el mismo tipo
    data["EDAD"]=data["EDAD"].astype('object')
    return(data)

data=tipo_dato(data)

In [8]:
# FUNCION Eliminar duplicados

def elimina_Duplicados(data):
    '''Elimina los valores duplicados    '''
    data=data.drop_duplicates() #elimina los duplicados
    return data

elimina_Duplicados(data)
n_data=elimina_Duplicados(data)
print("estructura final luego de eliminar duplicados ",n_data.shape)

estructura final luego de eliminar duplicados  (13118, 11)

In [9]:
# FUNCION Sobrescribir valores nulos
def valores_nulos(data):
    
    data=data.fillna('Sin dato') # remplaza los valores nulos por la palabra sin_dato
    return data

valores_nulos(n_data)
n_data=valores_nulos(n_data)

In [10]:
def remplazo(data):
    #data=data.replace( r'''[¤]''','ñ', regex=True)
    
    data=data.replace( r'''[¤]''','ñ', regex=True)
    data=data.replace( r'''[¡]''','i', regex=True)
    
    return(data)

remplazo(n_data)
n_data=remplazo(n_data)

In [11]:
# FUNCION estandarizar datos, mayusculas o minusculas
def estandarizar_datos(data1):
    
    #data1["RED"]=data1["RED","PRIORIDAD"].str.upper()  # MAYUSCULA
    #data1["RED"]=data1["RED"].str.lower()  # minuscula
    data1.iloc[:,9]=data1.iloc[:,9].str.capitalize()  # 1ra mayuscula
    data1.iloc[:,8]=data1.iloc[:,8].str.capitalize()
    data1.iloc[:,7]=data1.iloc[:,7].str.capitalize()
    data1.iloc[:,6]=data1.iloc[:,6].str.capitalize()
    data1.iloc[:,5]=data1.iloc[:,5].str.capitalize()
    data1.iloc[:,4]=data1.iloc[:,4].str.capitalize()
    data1.iloc[:,3]=data1.iloc[:,3].str.capitalize()
    return(data1)
    
n_data=estandarizar_datos(n_data)

In [12]:
def remplazo(data):
    #data=data.replace( r'''[¤]''','ñ', regex=True)
    
    replace_values={ 'Usaqu\x82n' : 'Usaquen', 'Usaqun':'Usaquen','San crist¢bal': 'San Cristobal','Engativ\xa0':'Engativa', 'Los m\xa0rtires':'Los Martires',
    'Fontib¢n':'Fontibon' }
    replace_incidente= { 'Convulsi¢n' : 'Convulsion', 'Dolor tor\xa0cico': 'Dolor torácico',
    'Patologia ginecobst\x82trica':'patologia gineco obstetrica', 'Intoxicaci¢n':'Intoxicacion',
    'Electrocuci¢n / rescate':'Electrocucion / rescate' }                                                                   

    data=data.replace( {"LOCALIDAD": replace_values} )
    data=data.replace( {"TIPO_INCIDENTE": replace_incidente} )

    return(data)

remplazo(n_data)
n_data=remplazo(n_data)

In [13]:
n_data

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO-MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00085818-22,2022-03-01 00:11:13,19,Ciudad bolivar,Sin_dato,Sin_dato,Sin_dato,Sur occidente,Caida de altura,Alta,0000-00-00 00:00:00
1,CRU-00085821-22,2022-03-01 00:20:02,8,Kennedy,Sin_dato,Sin_dato,Sin_dato,Sur,Dolor torácico,Alta,0000-00-00 00:00:00
2,CRU-00085824-22,2022-03-01 02:07:15,10,Engativa,73,Años,Masculino,Norte,Evento respiratorio,Critca,2022-03-01 05:08:32
3,CRU-00085826-22,2022-03-01 01:40:42,11,Suba,Sin_dato,Sin_dato,Sin_dato,Norte,Intoxicacion,Media,0000-00-00 00:00:00
4,CRU-00085828-22,2022-03-01 01:18:00,11,Suba,24,Años,Femenino,Norte,patologia gineco obstetrica,Alta,2022-03-01 04:17:19
...,...,...,...,...,...,...,...,...,...,...,...
13162,CRU-00133800-22,2022-03-31 23:32:52,14,Los Martires,Sin_dato,Sin_dato,Sin_dato,Norte,Herido,Alta,0000-00-00 00:00:00
13163,CRU-00133802-22,2022-03-31 23:39:22,8,Kennedy,19,Años,Masculino,Sur occidente,Intento de suicidio,Alta,2022-04-01 02:54:15
13164,CRU-00133803-22,2022-04-01 00:41:39,10,Engativa,Sin_dato,Sin_dato,Sin_dato,Norte,Intoxicacion,Alta,0000-00-00 00:00:00
13165,CRU-00133813-22,2022-03-31 23:48:57,10,Engativa,41,Años,Femenino,Norte,Evento respiratorio,Alta,2022-04-01 04:52:06
13166,CRU-00133815-22,2022-03-31 23:52:24,5,Usme,28,Años,Masculino,Privada,Herido,Alta,2022-04-01 00:23:37