In [78]:
import numpy as np
import pandas as pd
import os
from pathlib import Path
from dateutil.parser import parse
from fileinput import filename

In [79]:
root_dir = Path(".").resolve().parent
print("root_dir:", root_dir)

root_dir: D:\ESEIT\BigData2022B

In [80]:
# RUTA ARCHIVOS
data_dir = "notebooks"
path2 = os.path.join(root_dir,data_dir)
os.listdir(path2)

['0.1.gtovar-eda-inicio-llamadas-123.ipynb',
 'BO_HeartData.xlsx',
 'clase_4.ipynb',
 'Codigo_09_1.ipynb',
 'ETL_ejemplo_GTF.ipynb',
 'Limpieza_archivo_GFT.ipynb',
 'llamadas123_julio_2022.csv',
 'llamadas123_julio_2022_PRUEBA1.csv']

In [81]:
filename="llamadas123_julio_2022_PRUEBA1.csv"
file_path = os.path.join(root_dir,data_dir,filename)
print(file_path)

D:\ESEIT\BigData2022B\notebooks\llamadas123_julio_2022_PRUEBA1.csv

In [82]:
data = pd.read_csv(file_path, encoding="latin-1", sep=";")
data.head()
print('Estructura inicial ',data.shape)

Estructura inicial  (150, 11)

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 11 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   150 non-null    object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  150 non-null    object
 2   CODIGO_LOCALIDAD                   150 non-null    int64
 3   LOCALIDAD                          150 non-null    object
 4   EDAD                               150 non-null    object
 5   UNIDAD                             150 non-null    object
 6   GENERO                             94 non-null     object
 7   RED                                141 non-null    object
 8   TIPO_INCIDENTE                     150 non-null    object
 9   PRIORIDAD                          150 non-null    object
 10  RECEPCION                          150 non-null    object
dtypes: int64(1), object(10)
memory usage: 13.0+ KB

In [84]:
# FUNCIONES

# 1 Eliminar duplicados
# 2 Sobrescribir valores nulos
# 3 Eliminar caracteres especiales
# 4 Quitar espacios en blanco
# 5 Estandarizar datos (Mayusculas - Minusculas)

In [85]:
columna=input("Digite la columna a tratar: ")
may_min=input("Para que el texto sea en mayuscula digite M ,para minuscula m ,solo la primera letra en mayuscula 1M")
#print(columna)
#data[columna]
#print(may_min)

In [86]:
columna_original=data[columna]

In [87]:
# FUNCION Eliminar duplicados

def elimina_Duplicados(data):
    '''Elimina los valores duplicados    '''
    data2=data.drop_duplicates() #elimina los duplicados
    print("estructuta final ",data2.shape)
    return data2

elimina_Duplicados(data)

estructuta final  (104, 11)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,1/07/2022,11,Suba,88,A¤os,femenino,"Norte*"")",Accidente Cerebro Vascular,ALTA,1/07/2022 3:40
1,CRU-00278360-22,1/07/2022,11,Suba,16,A¤os,MASCULINO,NaN,Herido,ALTA,1/07/2022 3:38
2,CRU-00278365-22,1/07/2022,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro: Oriente,Evento Respiratorio,CRITICA,1/07/2022 4:08
3,CRU-00278370-22,1/07/2022,19,Ciudad Bol¡var,,,NaN,"""Privada",Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,1/07/2022,1,Usaqun,33,A¤os,MASCULINO,Norte(),Intento de Suicidio,ALTA,1/07/2022 3:25
...,...,...,...,...,...,...,...,...,...,...,...
99,CRU-00278632-22,1/07/2022 8:28,16,Puente Aranda,,,NaN,Norte,Trastorno Mental,ALTA,0000-00-00 00:00:00
100,CRU-00278386-22,1/07/2022 1:11,15,Antonio Nari¤o,14,A¤os,Masculino,Sur,Convulsi¢n,ALTA,1/07/2022 2:37
108,CRU-00278514-22,1/07/2022 6:22,16,Puente Aranda,,,NaN,NaN,Herido,ALTA,0000-00-00 00:00:00
129,CRU-00278581-22,1/07/2022 7:21,19,Ciudad Bol¡var,90,A¤os,MASCULINO,NaN,Evento Respiratorio,CRITICA,1/07/2022 12:32
140,CRU-00278613-22,1/07/2022 7:56,2,Chapinero,21,A¤os,FEMENINO,Norte,Patolog¡a Ginecobsttrica,ALTA,1/07/2022 15:10

In [88]:
# FUNCION Sobrescribir valores nulos
def valores_nulos(nulo,columna1):
    
    nulo1=nulo[columna1].fillna('SIN DATO') # remplaza los valores nulos por la palabra sin_dato
    return nulo1

valores_nulos(data,[columna])

                 RED
0           Norte*")
1           SIN DATO
2    Centro: Oriente
3           "Privada
4            Norte()
..               ...
145              Sur
146          Privada
147    Sur Occidente
148    Sur Occidente
149            Norte

[150 rows x 1 columns]

In [89]:
# Funcion Quitar espacios en blanco por columnas
def espacios_blancos(espacio,columna2):
    espacio1=espacio[columna2].str.lstrip(' ')
    
    #print("tamaño= ",len(espacio1[0]))

espacios_blancos(data,columna)

In [90]:
# FUNCION estandarizar datos, mayusculas o minusculas
def estandarizar_datos(columna4,tipo_):
    
    dat1=data[columna4]

    if tipo_=='M':
        dat2=dat1.str.upper()
        print(dat2)
    else:
        if tipo_=='m':
            dat2=dat1.str.lower()
            print(dat2)
        else:
            if tipo_=='1M':
                dat2=dat1.str.capitalize()
                print(dat2)
            else:
                print("la Variable que ingreso es incorrecta")

# M = MAYUSCULA  //  m = minuscula // 1M = 1ra mayuscula
estandarizar_datos(columna,may_min) # parametros: archivo, columna, y si es mayuscula o minuscula

0             NORTE*")
1                  NaN
2      CENTRO: ORIENTE
3             "PRIVADA
4              NORTE()
            ...
145                SUR
146            PRIVADA
147      SUR OCCIDENTE
148      SUR OCCIDENTE
149              NORTE
Name: RED, Length: 150, dtype: object

In [91]:
# Funcion Eliminar caracteres especiales
def caracteres_especiales(columna3):

    del_caracter=data[columna3].str.replace(r'''["*!ˆ/()¿¡€@<?&%#>°\:]''','', regex=True)
    print(del_caracter)

caracteres_especiales(columna)

0               Norte
1                 NaN
2      Centro Oriente
3             Privada
4               Norte
            ...
145               Sur
146           Privada
147     Sur Occidente
148     Sur Occidente
149             Norte
Name: RED, Length: 150, dtype: object

In [92]:
# M = MAYUSCULA  //  m = minuscula // 1M = 1ra mayuscula
#estandarizar_datos(data,columna,may_min) # parametros: archivo, columna, y si es mayuscula o minuscula